<div class="p-3 mb-2 bg-warning text-dark">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-danger">{{store.storeName}}</h1>
    </div>
  </div>

  <div class="col-xs-12">
    <button *ngIf="isOwner() || isManagerWithPermissionEdit()" class="btn btn-success" type="submit" (click)="editStore()">Edit Store</button>
  </div>

  <div class="col-xs-12">
    <button *ngIf="isManagerWithPermissionViewOrAdminOrOwner()" class="btn btn-success" type="submit" (click)="viewPurchaseHistory()">View Purchase History</button>
  </div>

    <div class="row">
      <div class="col-xs-12 text-warning">
        rank: {{store.rank}}
        <hr/>
        <app-products [store]="store"></app-products>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group">
          <button *ngIf="isOwner()" type="button" class="btn btn-primary" (click)="viewPurchaseHistory()">
            View Purchase History
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <app-history-purchase
        *ngIf="wantViewPurchaseHistory"></app-history-purchase>
    </div>
</div>
