<app-header-logging-user (featureSelectedLogging)="onNavigate($event)"></app-header-logging-user>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-logout *ngIf="loadedFeature === 'Logout'"></app-logout>
      <app-stores *ngIf="loadedFeature === 'Stores'"></app-stores>
      <app-products *ngIf="loadedFeature === 'Products'"></app-products>
      <app-shopping-cart *ngIf="loadedFeature === 'Shopping-cart'"></app-shopping-cart>
      <app-history-purchase *ngIf="loadedFeature === 'History-purchase'"></app-history-purchase>
      <app-owned-stores *ngIf="loadedFeature === 'Owned-stores'"></app-owned-stores>
      <app-managed-stores *ngIf="loadedFeature === 'Managed-stores'"></app-managed-stores>
      <app-open-store *ngIf="loadedFeature === 'Open-Store'"></app-open-store>
      <app-owned-store-edit *ngIf="loadedFeature === 'Edit-Store'"></app-owned-store-edit>
      <app-purchase-shopping-cart *ngIf="loadedFeature==='Purchase-shopping-cart'"></app-purchase-shopping-cart>
      <app-approve-owner *ngIf="loadedFeature==='approve-owner'"></app-approve-owner>
      <!--      for admin-->
      <app-users *ngIf="loadedFeature === 'History-purchase-user'"></app-users>
      <app-visitor-daily *ngIf="loadedFeature === 'visitor-daily'"></app-visitor-daily>
      <hr/>
    </div>
  </div>
</div>

