<div class="row">

  <div>
    <div class="col-sm-5 from-group">
      <label for="discountPercentage">Discount Percentage
        <span class="required-asterisk">*</span>
      </label>
      <input type="number" [min]="1" [max]="100" id="discountPercentage" class="form-control"
             [value]= "this.discount !== null ? this.discount.discountPercentage : 1"
             #discountPercentage/>
    </div>

    <div class="col-sm-5 from-group">
      <label for="endTime">End Time
        <span class="required-asterisk">*</span>
      </label>
      <input type="date" [value]="this.discount !== null ? this.discount.endTime : today"
             [min]="today"
             id="endTime" class="form-control"
             #endTime/>
    </div>

    <div class="col-sm-5 from-group">
      <label></label>
    </div>
    <div class="col-sm-5 from-group">
      <label></label>
    </div>

    <div class="row justify-content-start">
      <div class="col-sm-4 from-group">

        <label>Products Conditions:</label>
        <div class="md-form">
          <ng-multiselect-dropdown
            [placeholder] ="'Select Products'"
            [settings]="productUnderDiscountSettings"
            [data]="optionsProductUnderDiscount"
            [(ngModel)]="selectedProductUnderDiscount"
            (onSelect)="onSelectProductUnderDiscount($event)"
            [disabled]="labelPosition==='store'"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-sm-4 from-group">
        <label for="minPrice">Min Price</label>
        <input type="number" [min]="1" id="minPrice" class="form-control"
               [disabled] = "labelPosition==='product'"
               [value]= "this.discount !== null && this.discount.storeDiscount ? this.discount.minPrice : null"
               #minPrice/>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-sm-4 from-group">
        <label>composedDiscounts:</label>
        <div class="md-form">
          <ng-multiselect-dropdown
            [placeholder]="'Select Discounts'"
            [settings]="composedDiscountsSettings"
            [data]="optionsComposedDiscounts"
            [(ngModel)]="selectedComposedDiscounts"
            [disabled]="labelPosition==='store'"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-5 from-group">
          <select                [value]= "this.discount !== null ? this.discount.compositeOperator : null"
                                 [disabled]="labelPosition==='store'"
                            [ngModel]="selectedComposite" (ngModelChange)="onSelectedCompositeOperator($event)">
            <option *ngFor="let compositeOperator of compositeOperators" value={{compositeOperator}}>
              {{compositeOperator}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-sm-4 from-group">
        <label> ====>
        </label>
      </div>
    </div>

    <div class="col-sm-4 from-group">
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition" [value]="this.discount !== null && this.discount.storeDiscount ? 'store': 'prodcut'">
            <mat-radio-button class="example-margin" value="store">Apply on all Store</mat-radio-button>
            <mat-radio-button class="example-margin" value="product">Apply on specific Product</mat-radio-button>
          </mat-radio-group>
        </section>
    </div>


    <div class="col-sm-4 from-group">
      <label>Applied Products:
        <span class="required-asterisk">*</span>
      </label>
      <div class="md-form">
        <ng-multiselect-dropdown
          [placeholder]="'Select Products'"
          [settings]="productsForApplyDiscountSettings"
          [data]="optionsProductsForApplyDiscounts"
          [(ngModel)]="selectedProductsForApplyDiscounts"
          (onSelect)="onSelectProductsForApplyDiscount($event)"
          [disabled]="labelPosition==='store'"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>


    <div class="col-sm-5 from-group">
      <label for="description">description
        <span class="required-asterisk">*</span>
      </label>
      <input type="text" id="description" class="form-control"
             [value]="this.discount !== null ? this.discount.description : ''"
             #description/>
    </div>

  </div>
  <hr/>
  <div class="col-xs-12">
    <button class="btn btn-success" type="submit" (click)="onAddDiscount()">Add/Edit Discount</button>
  </div>
  <div class="col-sm-5 from-group" [style.color]="messageColor">
    <p>{{message}}</p>
  </div>
</div>

