<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Logging</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('Logout')">Logout</a></li>
        <li><a href="#" (click)="onSelect('Stores')">Stores</a></li>
        <li><a href="#" (click)="onSelect('Products')">Products</a></li>
        <li><a href="#" (click)="onSelect('Shopping-cart')">Shopping-cart</a></li>
        <li><a href="#" (click)="onSelect('History-purchase')">History-purchase</a></li>
        <li><a href="#" (click)="onSelect('Open-Store')">Open-Store</a></li>
        <li><a href="#" (click)="onSelect('Owned-stores')">Owned-stores</a></li>
        <li><a href="#" (click)="onSelect('Managed-stores')">Managed-stores</a></li>
        <li *ngIf="getIsAdmin()"><a href="#" (click)="onSelect('History-purchase-user')">History-purchase-user</a></li>
      </ul>
    </div>
  </div>
</nav>
