<div class="cart-item-wrapper"
     [ngStyle]="{color: 'blue'}"
>
  <div>
    {{cartItem.name}}
  </div>
  <div>
    {{cartItem.cost}} USD
  </div>
  <div>
    <input type="number"
           value="cartItem"
           placeholder="cartItem"
           id="amount"
           min=1
           [(ngModel)]="cartItem.amountInShoppingCart"
           (change)="onCartItemChanged($event)"
           #amountCartItem
    />
  </div>
  <div>
    {{cartItem.amountInShoppingCart * cartItem.cost}} USD
  </div>
  <div>
    <button type="button"
            class="btn btn-default"
            aria-label="Left Align"
            (click)="onCartItemDeleted($event)"
    >
        <span class="glyphicon glyphicon-remove"
              aria-hidden="true"
              id={{cartItem.productSn}}>
        </span>
    </button>
  </div>
</div>



