<div class="col-xs-12">
  <button class="btn btn-primary" type="submit" (click)="onDiscount()">Discount</button>
  <button class="btn btn-primary" type="submit" (click)="onEditProduct()">Edit Product</button>
  <button class="btn btn-primary" type="submit" (click)="onManagers()">Managers</button>
  <button class="btn btn-primary" type="submit" (click)="onOwners()">Owners</button>
  <button class="btn btn-primary" type="submit" (click)="onPolicy()">Policy</button>

  <app-discount *ngIf="loadedFeature === 'Discount'"></app-discount>
  <app-edit-product *ngIf="loadedFeature === 'Edit-Product'"></app-edit-product>
  <app-managers *ngIf="loadedFeature === 'Managers'"></app-managers>
  <app-owners *ngIf="loadedFeature === 'Owners'"></app-owners>
  <app-policy *ngIf="loadedFeature === 'Policy'"></app-policy>

</div>
