<div class="col-xs-12">
  <button class="btn btn-success" type="submit" [routerLink]="['/addProduct']">Add Product</button>
<!--  <button class="btn btn-primary" type="submit" (click)="onAddDiscount()">Add Discount</button>-->
<!--  <button class="btn btn-primary" type="submit" (click)="onEditProduct()">Edit product</button>-->
<!--  <button class="btn btn-primary" type="submit" (click)="onEditProduct()">Remove product</button>-->
<!--  <button class="btn btn-primary" type="submit" (click)="onAddManager()">Add Manager</button>-->
<!--  <button class="btn btn-primary" type="submit" (click)="onAddOwner()">Add Owner</button>-->
<!--  <button class="btn btn-primary" type="submit" (click)="onAddPermission()">Add Permission</button>-->
<!--  <button class="btn btn-primary" type="submit" (click)="onViewPurchaseHistory()">View Purchase History</button>-->
</div>
