<div class="bg">
  <div class="wrapper">
    <aside *ngFor="let message of messages | reverse">
      <div class="notification"

           [ngClass]="{'list-group-item-info':     message.style=='info',
                     'list-group-item-danger':   message.style=='danger',
                     'list-group-item-success':  message.style=='success'}">

        <button class="delete" (click)="dismiss(message)"></button>
        {{message.content}}
      </div>
    </aside>
  </div>
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-7">
          <app-guest
            *ngIf="!isLogging; else loggingMenu"></app-guest>
          <ng-template #loggingMenu>
            <app-logged-in-user></app-logged-in-user>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
