<a href="#" class="list-group-item clearfix"
   (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{product.name}}</h4>
    <p>Cost :{{product.cost}}</p>
    <p>Cost After Discount :{{product.costAfterDiscount}}</p>
  </div>
  <span class="pull-right">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5FpRKXeVbKWa1Wo75eOMva5FrE7QCREZgJj8iWNRZf9me2BcCRg"
             alt="{{product.name}}"
             class="img-responsive"
             style="max-height: 50px;" />
      </span>
</a>
